<div *ngIf="(user$ | async)" id="layoutSidenav_nav">
  <nav
    class="sb-sidenav accordion sb-sidenav-light"
    id="sidenavAccordion"
  >
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a
          class="nav-link"
          routerLink="/"
        >
          <div class="sb-nav-link-icon"><i
              class="fas fa-tachometer-alt"></i></div> Dashboard
        </a>

        <div class="sb-sidenav-menu-heading">Options</div>
        <a
          class="nav-link"
          routerLink="/users"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i>
          </div> Users
        </a>

        <a
          class="nav-link"
          routerLink="/movies"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Movies
        </a>
        <a
          class="nav-link"
          routerLink="/actors"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Actors
        </a>
        <a
          class="nav-link"
          routerLink="/directors"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Directors
        </a>
        <a
          class="nav-link"
          routerLink="/ratings"
        >
          <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
          Ratings
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div> Admin User
    </div>
  </nav>
</div>
